{% extends 'base.html'%}
{% load static %}

{% block content %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Bosh sahifa</a>
                            <span>{{category.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Kategoriyalar</h4>
                            <ul>
                                {% for category in categories %}
                                <li><a href="{% url 'category' category.slug %}">{{category}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <ul>
                                {% if user.is_superuser %}
                                        <li><a href="{% url 'category_update' category.slug %}" role="button" class="btn btn-outline-info" >{{category.name}}ni yangilash <i class="bi bi-database-add"></i></a></li>
                                        <li><a href="{% url 'category_delete' category.slug %}" role="button" class="btn btn-outline-danger" >{{category.name}}ni o'chirish <i class="bi bi-database-add"></i></a></li>
                                    {% endif %}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Oxirgi qo'shilganlar</h4>
                                <div class="latest-product__slider owl-carousel">
                                    {% for product1, product2, product3 in new_additions %}
                                    <div class="latest-prdouct__slider__item">
                                        <a href="{% url 'product' product1.slug %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{product1.image.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{product1.name}}</h6>
                                                {% if product1.discount %}
                                                <span>{{product1.discount_price}} UZS</span>
                                                {% else %}
                                                <span>{{product1.price}} UZS</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                        <a href="{% url 'product' product2.slug %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{product2.image.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{product2.name}}</h6>
                                                {% if product2.discount %}
                                                <span>{{product2.discount_price}} UZS</span>
                                                {% else %}
                                                <span>{{product2.price}} UZS</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                        <a href="{% url 'product' product3.slug %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{product3.image.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{product3.name}}</h6>
                                                {% if product3.discount %}
                                                <span>{{product3.discount_price}} UZS</span>
                                                {% else %}
                                                <span>{{product3.price}} UZS</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    {% if discounts %}
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Chegirmalar</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for product in discounts %}
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{product.image.url}}">
                                            <div class="product__discount__percent">-{{product.sale_off}}%</div>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <form method="post" action="{% url 'add_to_cart' product.slug %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-success" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                </form>
                                              <form method="post" action="{% url 'like' product.slug %}">
                                                {% csrf_token %}
                                                  {% if product.is_liked %}
                                                <button class="btn btn-danger" type="submit"><i class="fa fa-heart"></i></button>
                                                  {% else %}
                                                  <button class="btn btn-outline-danger" type="submit"><i class="fa fa-heart"></i></button>
                                                  {% endif %}
                                                </form>
                                            </div>
                                            </div>
                                            <h5><a href="{% url 'product' product.slug %}">{{product.name}}</a></h5>
                                            <div class="product__item__price">
                                                {% if product.discount %}
                                                {{product.discount_price}} UZS
                                                <span>{{product.price}} UZS</span>
                                                {% else %}
                                                {{product.price}} UZS
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    {% endif %}
                    <div class="filter__item">
                        {% if products %}
                        <div class="row">
                            <form method="get" class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Maxsulotlarni tartiblash</button>
                                    <select name="ordering">
                                        <option value="date_added">Oxirgilar</option>
                                        <option value="name">Nomi bo'yicha</option>
                                        <option value="price">Arzonroq</option>
                                        <option value="-price">Qimmatroq</option>
                                        <option value="-rating">Yuqori rating</option>
                                        <option value="-orders">Ko'p buyurtirilgan</option>
                                    </select>
                                </div>
                            </form>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{count}}</span> Products </h6>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if products %}
                        {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{product.image.url}}">
                                            {% if product.discount %}
                                            <div class="product__discount__percent">-{{product.sale_off}}%</div>
                                            {% endif %}
                                        </div>
                                        <div class="product__discount__item__text">
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <form method="post" action="{% url 'add_to_cart' product.slug %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-success" type="submit"><i class="fa fa-shopping-cart"></i></button>
                                                </form>
                                              <form method="post" action="{% url 'like' product.slug %}">
                                                {% csrf_token %}
                                                  {% if product.is_liked %}
                                                <button class="btn btn-danger" type="submit"><i class="fa fa-heart"></i></button>
                                                  {% else %}
                                                  <button class="btn btn-outline-danger" type="submit"><i class="fa fa-heart"></i></button>
                                                  {% endif %}
                                                </form>
                                            </div>
                                            <h5><a href="{% url 'product' product.slug %}">{{product.name}}</a></h5>
                                            <div class="product__item__price">
                                                {% if product.discount %}
                                                {{product.discount_price}} UZS
                                                <span>{{product.price}} UZS</span>
                                                {% else %}
                                                {{product.price}} UZS
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}
                    <div class="container mb-3 mt-3" aria-label="...">
                      <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item ">
                          <a class="page-link" href="?page={{ products.previous_page_number }}">Oldingi</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled" aria-current="page">
                          <a class="page-link" href="">Oldingi</a>
                        </li>
                      {% endif %}
                        {% if products.number != 1 %}
                       <li class="page-item">
                          <a class="page-link" href="?page={{ products.number|add:'-1'}}">{{ products.number|add:'-1'}}</a>
                        </li>
                        {% else %}
                      {% endif %}
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="?page={{ products.number }}">{{ products.number }}</a>
                        </li>
                           {% if products.number != products.paginator.num_pages %}
                       <li class="page-item">
                          <a class="page-link" href="?page={{ products.number|add:'1'}}">{{ products.number|add:'1'}}</a>
                        </li>
                        {% else %}
                      {% endif %}

                        {% if products.has_next %}
                        <li class="page-item " >
                          <a class="page-link" href="?page={{ products.next_page_number }}">Keyingi</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="">Keyingi</a>
                        </li>
                      {% endif %}
                      </ul>
                    </div>
                        {% endif %}
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Product Section End -->

{% endblock content %}