{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Bosh sahifa</a>
                            <a href="{% url 'account_detail' %}">{{customer.last_name|slice:":1"}}.{{customer.first_name}}</a>
                            <span>Profil</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <div class="container mb-5 mt-5">
<form action="{% url 'profile_detail' %}" method="post" >{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-outline-success" type="submit" value="O'zgartirish">
    <a class="btn btn-outline-success" role="button" href="{% url 'password_reset' %} ">Kalit so'zni o'zgartirish</a>
</form>
</div>


{% endblock content %}